/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your global custom styles if needed, e.g., for body or utility classes not in Tailwind */

/* Global body styles for a clean starting point */
body {
    font-family: 'Open Sans', sans-serif;
    color: #2C3E50; /* Primary dark color */
    background-color: #f8f9fa;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', sans-serif;
}